@model List<Patient>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Body {
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">Name</div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" name="TxtSearch" />
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Search" class="btn btn-primary" asp-action="SearchData"/>
                </div>

            </div>
            <div class="row">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>

                            <th>
                                Birth Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Patient item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.BDate
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    </form>

}